.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.display {
    display: flex;
    width: 273px;
    height: 50px;
    font-size: 25px;

}
.buttons {
    display: flex;
    flex-wrap: wrap;
    width: 280px;
    gap: 10px;
   
}
/* Actual Keypad buttons. */
.btn {
     flex: 1 1 21%; /*grow shrink and set a base width */
     height: 60px; 
     font-size: 20px; 
}